.App {
    text-align: center;
    width: 100%;
    height: 100%;
}
.PokeForm{
    width: 100%;
    height: 100%;
}
.PokeList{
    height:100%;
    width: 100%;

}

.PokeForm input{
    text-align:center;
}

.App h1{
    font-size: 20px;
}

.App h2 {
    font-size : 15px;
}

.App p {
    font-size : 10px;
}

.loading {
    animation: loading-spin infinite 1s linear;
    height: 30px;
    display: inline-block;
}

.inlineBlock {
    display : inline-block;
}

@keyframes loading-spin {
    from { transform : rotate(0deg); }
    to { transform : rotate(360deg); }
}

.footer{
    font-size: 5px;
    position: fixed;
    top: 0;
    right: 1%;
}

